<h2>Current Book</h2>


 <div class="card bookfirst">
    <div class="card-image">
        <img src={{book.imgUrl}}>
        <span class="card-title">{{book.title}}</span>
    </div>
    <div class="card-content">
        <p class="price">{{book.price}}</p>
    </div>
</div>